.DS_Store
.ipynb_checkpoints
__pycache__
.vscode
higherror.txt
config.json
iq-files/*.iq
iq-files/*.png
iq-files2/
iq-files/cov
iq-files/hypothesis
iq-files/sensors
iq-files/gl*
log*
select_sensor.py.lprof
data64/
scalability/gl*
nohup.out.*
joblib_memmap/
