.DS_Store
.ipynb_checkpoints
__pycache__
.vscode
higherror.txt
nohup.out
config.json
iq-files/*.iq
iq-files/*.png
iq-files2/
iq-files/cov
iq-files/hypothesis
iq-files/sensors
log*
select_sensor.py.lprof
data64/
